* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: #263138;
}

header {
    background-color: #5dadae;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
}

header nav a {
    color: #FFFF;
    font-weight: 600;
    padding: 32px;
    text-decoration: none;
}

#Home {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 25px 30px 30px 30px;
    position: relative;
}

h1,
h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

.paragrafo {
    line-height: 150%;
    margin-bottom: 32px;
}

.botao-transparente {
    background-color: transparent;
    color: #4966c6;
    padding: 2% 12px;
    text-underline-offset: 0;
}

#Sobre {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

#Sobre li {
    margin-bottom: 16px;
    margin-left: 32px;
}
